@{
	ViewData["Title"] = "Proyectos";
}

@model ProjectsViewModel;

<h6 class="text-center m-2">Proyectos en Github</h6>

@if (Model.Projects is null)
{
	<div class="d-flex justify-content-center align-items-center vh-50">
		<h6 class="text-center">No se pudieron obtener los proyectos de Github.</h6>
	</div>
}
else
{
	@section Styles {
		<link rel="stylesheet" href="~/css/section/projects.css">
	}

	<div class="row justify-content-end mb-3">
		<div class="col-auto">
			<a asp-action="ReloadFromGithub" class="btn btn-sm btn-outline-secondary">
				<i class="bi bi-arrow-clockwise"></i> Actualizar proyectos desde Github
			</a>
		</div>
	</div>

	<div class="row justify-content-start g-3">
		@foreach (var project in Model.Projects!)
		{
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex" style="width: 380px">
				<div class="project-card w-100 d-flex flex-column justify-content-between p-4 rounded-4 shadow bg-white border">
					<div class="d-flex justify-content-between align-items-start mb-2">
						<h5 class="mb-0 fw-bold">@project.Name</h5>
						<small class="text-muted">Actualizado el @(project.UpdatedAt?.ToString("dd/MM/yyyy") ?? "Fecha no disponbile")</small>
					</div>

					<p class="text-muted small">@(project.Description ?? "Sin descripción")</p>

					<div class="d-flex flex-wrap justify-content-end gap-1 mb-3">
						@foreach (var language in project.Languages!)
						{
							string langClass = language.ToLower() switch
							{
								"css" => "tech-css",
								"javascript" => "tech-javascript",
								"html" => "tech-html",
								"c#" => "tech-csharp",
								_ => "bg-secondary"
							};
							<span class="badge tech-badge @langClass">@language</span>
						}
					</div>

					<div class="d-flex justify-content-end">
						<a href="@project.HtmlUrl" class="btn btn-outline-dark btn-sm mt-auto" target="_blank">Ir al repositorio</a>
					</div>
				</div>
			</div>
		}
	</div>


}
